{##}
<div class="">
    <ul class=" text-xs md:text-sm lg:text-md" x-data="{
        checked: null,
        entry: '',
        loading: false,
        items: [
        {id: 1, name: 'подыва'},
        {id: 2, name: 'подыва fsd'},
        {id: 3, name: 'подыва fsd dsfsd'},
        ],
        async init() {
            this.loading = true;
            let response = await (await fetch('/api/crazy/freelancer/v1.0.1/services?parent={{serviceId}}')).json();
            this.items = response.data;
            setTimeout(() => {
                this.loading = false;
            }, 0);
        },
    }">
        <template x-if="loading">
            <template x-for="index in 5">
                <li class="my-2">
                    <div class=" flex items-center">
                        <div class="animate animate-pulse bg-gray-300 rounded-full h-6 w-6 mr-3"></div>
                        <div x-bind:style="{width: `${(1 + Math.random()) * 100}px` }" 
                            class="animate animate-pulse rounded-lg bg-gray-300"
                            :class="{'h-5': index != 5, 'h-7': index == 5}">
                            
                        </div>
                    </div>
                </li>
            </template>
        </template>
        <template x-for="item in (! loading ? items : [])" :key="item.id">
            <li class="my-2" x-id="['radioField']" x-data="{ isChecked: false }">
                <input @click="isChecked = !isChecked" type="checkbox" hidden :id="$id('radioField')" />
                <label class="flex items-center" :for="$id('radioField')">

                    <div class="w-6 h-6 rounded-md flex items-center cursor-pointer"
                        x-transition.opacity.scale
                        x-bind:class="{ 'border border-blue-600 bg-blue-700' : isChecked, 'border border-gray-300 bg-gray-300' : !isChecked}">
                        <svg 
                            x-transition.opacity.scale
                            x-transition:enter.duration.500ms
                            x-transition:leave.duration.300ms 
                            x-show="isChecked" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white mx-auto" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                    </div>

                    <span 
                        class="px-2 text-xs sm:text-sm md:text-md lg:text-base cursor-pointer"
                        x-bind:class="{ 'text-gray-900' : isChecked, 'text-gray-400' : !isChecked}" x-text="item.name">
                        Заниматься буду я
                    </span>

                </label>
            </li>
        </template>
        <template x-if="!loading">
            
            <li class="my-2" x-id="['radioField']" x-data="{ isChecked: false }">
                <input hidden :id="$id('radioField')" x-model="checked" type="checkbox"
                    @click="$nextTick(() => $refs.input.focus()) , isChecked = !isChecked">
                <label class="flex items-center " :for="$id('radioField')">
                    <div class="w-6 h-6 rounded-md flex items-center cursor-pointer"
                        x-transition.opacity.scale
                        x-bind:class="{ 'border border-blue-600 bg-blue-700' : isChecked, 'border border-gray-300 bg-gray-300' : !isChecked}">
                        <svg 
                            x-transition.opacity.scale
                            x-transition:enter.duration.500ms
                            x-transition:leave.duration.300ms 
                            x-show="isChecked" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white mx-auto" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="px-2">
                        <input id="input" x-ref="input" @click="isChecked = true" 
                        class="bg-gray-100 rounded-md w-auto h-5 ms:h-6 md:h-7 lg:h-8 max-h-8 p-3 focus:outline-none text-xs ms:text-sm md:text-md border-2 border-gray-100 focus:border-gray-300" 
                        placeholder="Другое"
                        x-model="entry"
                        type="text">
                    </div>
                </label>
            </li>
        </template>
    </ul>
</div>