{##}
<div class=" inline-block">
    <div class="p-2 rounded-full bg-gray-200 inline-block">
        <img src="{{ 'assets/images/notebook.png' | theme }}" alt="">
    </div>
   <div class="inline-block">
        <h1 class="">
            Репетиторы
        </h1>
        <h1 class="text-gray-300">(2)</h1>
   </div>
   <div class="border-b-2 border-dashed border-gray-400">
       <ul class="mb-5">
           <li><a href="#"><img class="inline-block mr-1" src="{{ 'assets/images/Vector.png' | theme }}" alt="">Английский язык</a></li>
           <li><a href="#"><img class="inline-block mr-1" src="{{ 'assets/images/Vector.png' | theme }}" alt="">Математика</a></li>
           <li><a href="#"><img class="inline-block mr-1" src="{{ 'assets/images/Vector.png' | theme }}" alt="">Русский язык</a></li>
           <li><a href="#"><img class="inline-block mr-1" src="{{ 'assets/images/Vector.png' | theme }}" alt="">Начальная школа</a></li>
           <li><a href="#"><img class="inline-block mr-1" src="{{ 'assets/images/Vector.png' | theme }}" alt="">Музыка</a></li>
       </ul>
   </div>
   <div class="mt-5 text-blue-400">
       <a href="#">Все категории <img class="inline-block" src="{{ 'assets/images/Vectorline.png' | theme }}" alt=""></a>
   </div>
</div>