<header x-data class="sticky  top-0 z-50">
    <nav
        x-data="{ showBar: false}" 
        class="w-full bg-blue-975 h-14 lg:h-20 "
        :class="{ 'shadow-xl transition duration-100' : showBar }"
        @scroll.window="showBar = (window.pageYOffset > 20) ? true : false">
        
        <div class="container px-2 md:px-4 2xl:px-20 h-full">
            <div class="flex xl:block justify-between w-full h-full">
                <div class="flex justify-items-center items-center h-full">

                    
                    <div class="w-24 sm:w-28 md:w-32 lg:w-40 mr-4">
                        <a href="{{ 'home' | page }}" class="flex justify-items-center items-center">
                            <img src="{{'assets/images/logowhite.svg' | theme}}" width="100%">
                        </a>
                    </div>

                    <!--Menu-->

                    <div 
                        x-cloak 
                        class="hidden xl:flex flex-grow flex justify-between items-center w-auto h-full "
                        x-show.transition="true">
                        {% if not user %}
                            
                        {% else %}
                            <ul x-data="{isActive: undefined }" class="list-reset lg:flex justify-start flex-1 items-center h-full">  
                                <li class="px-1 h-full">
                                    <a  x-init="console.log(isActive)"
                                        href="{{ 'orders' | page }}"
                                        class="flex items-center justify-center flex-col px-4  h-full text-white hover:bg-blue-800 w-28 transition-all duration-300"
                                        :class="{ 'bg-blue-800': '{{this.page.id}}' === 'orders' }">
                                        <svg fill="#fff" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
                                            <g>
                                                <path d="M10,25.465h13c0.553,0,1-0.448,1-1s-0.447-1-1-1H10c-0.553,0-1,0.448-1,1S9.447,25.465,10,25.465z" />
                                                <path d="M36,29.465H10c-0.553,0-1,0.448-1,1s0.447,1,1,1h26c0.553,0,1-0.448,1-1S36.553,29.465,36,29.465z" />
                                                <path d="M36,35.465H10c-0.553,0-1,0.448-1,1s0.447,1,1,1h26c0.553,0,1-0.448,1-1S36.553,35.465,36,35.465z" />
                                                <path d="M54.072,2.535L19.93,2.465c-3.27,0-5.93,2.66-5.93,5.93v5.124l-8.07,0.017c-3.27,0-5.93,2.66-5.93,5.93v21.141
                                                c0,3.27,2.66,5.929,5.93,5.929H12v10c0,0.413,0.254,0.784,0.64,0.933c0.117,0.045,0.239,0.067,0.36,0.067
                                                c0.276,0,0.547-0.115,0.74-0.327l9.704-10.675l16.626-0.068c3.27,0,5.93-2.66,5.93-5.929v-0.113l5.26,5.786
                                                c0.193,0.212,0.464,0.327,0.74,0.327c0.121,0,0.243-0.022,0.36-0.067c0.386-0.149,0.64-0.52,0.64-0.933v-10h1.07
                                                c3.27,0,5.93-2.66,5.93-5.929V8.465C60,5.196,57.341,2.536,54.072,2.535z M44,40.536c0,2.167-1.763,3.929-3.934,3.929l-17.07,0.07
                                                c-0.28,0.001-0.548,0.12-0.736,0.327L14,53.949v-8.414c0-0.552-0.447-1-1-1H5.93c-2.167,0-3.93-1.763-3.93-3.929V19.465
                                                c0-2.167,1.763-3.93,3.932-3.93l9.068-0.019c0,0,0,0,0,0c0.001,0,0.001,0,0.002,0l25.068-0.052c2.167,0,3.93,1.763,3.93,3.93
                                                v18.441V40.536z M58,29.606c0,2.167-1.763,3.929-3.93,3.929H52c-0.553,0-1,0.448-1,1v8.414l-5-5.5V19.395
                                                c0-3.27-2.66-5.93-5.932-5.93L16,13.514v-5.12c0-2.167,1.763-3.93,3.928-3.93l34.141,0.07c0.001,0,0.001,0,0.002,0
                                                c2.167,0,3.93,1.763,3.93,3.93V29.606z" />
                                            </g>
                                        </svg>
                                        <span class="text-md font-medium">Заказы</span>
                                    </a>
                                </li>
                                <li class="px-1 h-full">
                                    <a href="{{ 'balance' | page }}"
                                        class="flex items-center justify-center flex-col px-4  h-full  text-white hover:bg-blue-800 w-28 transition-all duration-300"
                                        :class="{ 'bg-blue-800': '{{this.page.id}}' === 'balance' }">
                                        <svg fill="#fff" class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                                            <g>
                                                <path d="M58.2539406,13.033968h-4.336998L48.488842,2.1779683c-0.1184998-0.2361001-0.3254013-0.4158001-0.5750008-0.4983001
                                                c-0.2515831-0.0855-0.522583-0.0651-0.7595825,0.0534L37.3651428,6.627768l-7.8645-5.4523001
                                                c-0.4167004-0.2865-0.9839001-0.2156-1.3171005,0.1652L18.0172577,13.033968H5.7460427
                                                c-3.0924001,0-5.5992999,2.507-5.5992999,5.5993996v38.7673035c0,3.0923996,2.5068998,5.5993004,5.5992999,5.5993004h52.5078964
                                                c3.0923996,0,5.5993156-2.5069008,5.5993156-5.5993004V18.6333675
                                                C63.8532562,15.5409679,61.3463402,13.033968,58.2539406,13.033968z M51.692543,13.033968H29.0019417l18.152317-9.0764999
                                                L51.692543,13.033968z M29.1004429,3.3183682l6.2359982,4.3239002L24.553257,13.033968h-3.8993149L29.1004429,3.3183682z
                                                M58.2539406,61.0106697H5.7460427c-1.9905002,0-3.6099-1.6194-3.6099-3.6100006V18.6333675
                                                c0-1.9905987,1.6193998-3.6099997,3.6099-3.6099997h52.5078964c1.9905014,0,3.6099014,1.619401,3.6099014,3.6099997v7.1905003
                                                H47.9002571c-5.4561157,0-9.8953171,4.4469013-9.8953171,9.9137001v1.7611008c0,5.4658012,4.4392014,9.9118004,9.8953171,9.9118004
                                                H61.863842v9.9902C61.863842,59.3912697,60.244442,61.0106697,58.2539406,61.0106697z M61.863842,27.8131676v17.6078987H47.9002571
                                                c-4.3595161,0-7.9059143-3.5541992-7.9059143-7.9223976v-1.7611008c0-4.3691998,3.5463982-7.9244003,7.9059143-7.9244003H61.863842
                                                z" />
                                                <path d="M43.936142,36.3232689c0,2.1942978,1.7844009,3.9786987,3.9786987,3.9786987
                                                c2.1943016,0,3.9787025-1.7844009,3.9787025-3.9786987c0-2.1943016-1.7844009-3.9787025-3.9787025-3.9787025
                                                C45.7205429,32.3445663,43.936142,34.1289673,43.936142,36.3232689z M47.9148407,34.3339691
                                                c1.0965996,0,1.9892998,0.8927002,1.9892998,1.9892998c0,1.0966988-0.8927002,1.989399-1.9892998,1.989399
                                                c-1.0966988,0-1.989399-0.8927002-1.989399-1.989399C45.9254417,35.2266693,46.8181419,34.3339691,47.9148407,34.3339691z" />
                                            </g>
                                        </svg>
                                        <span class="text-md font-medium">Кошелек</span>
                                    </a>
                                </li>
                                <li class="px-1 h-full">
                                    <a href="{{ 'about-customer' | page }}"
                                        class="flex items-center justify-center flex-col px-4  h-full  text-white hover:bg-blue-800 w-28 transition-all duration-300"
                                        :class="{ 'bg-blue-800': '{{this.page.id}}' === 'about-customer' }">
                                        <svg fill="#fff" class="w-7 h-7" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M228.47461,213.98975a116.52651,116.52651,0,0,0-74.73389-55.06446,68,68,0,1,0-51.48144,0,116.5263,116.5263,0,0,0-74.73242,55.062,4.00024,4.00024,0,1,0,6.9248,4.00684,108.03687,108.03687,0,0,1,187.09814.00147,4,4,0,0,0,6.92481-4.00586ZM68,96a60,60,0,1,1,60,60A60.06812,60.06812,0,0,1,68,96Z" />
                                        </svg>
                                        <span class="text-md font-medium">Анкета</span>
                                    </a>
                                </li>
                                <li class="px-1 h-full">
                                    <a href="{{ 'help' | page }}"
                                        class="flex items-center justify-center flex-col px-4  h-full  text-white hover:bg-blue-800 w-28 transition-all duration-300"
                                        :class="{ 'bg-blue-800': '{{this.page.id}}' === 'help' }">
                                        <svg fill="#fff" class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <g>
                                                <path d="M256,0C114.841,0,0,114.841,0,256s114.841,256,256,256s256-114.841,256-256S397.159,0,256,0z M256,492.308
                                                    c-130.298,0-236.308-106.01-236.308-236.308S125.702,19.692,256,19.692S492.308,125.702,492.308,256S386.298,492.308,256,492.308z
                                                    " />
                                            </g>
                                            <g>
                                                <path d="M254.981,206.769c-5.438,0-9.846,4.41-9.846,9.846v187.077c0,5.438,4.409,9.846,9.846,9.846
                                                    c5.438,0,9.846-4.409,9.846-9.846V216.615C264.827,211.179,260.418,206.769,254.981,206.769z" />
                                            </g>
                                            <g>
                                                <circle cx="256" cy="118.154" r="19.692" />
                                            </g>
                                        </svg>
                                        <span class="text-md font-medium">Поддержка</span>
                                    </a>
                                </li>
                                <li class="px-1 h-full">
                                    <a href="{{ 'brands' | page }}"
                                        class="flex items-center justify-center flex-col px-4  h-full  text-white hover:bg-blue-800 w-28 transition-all duration-300"
                                        :class="{ 'bg-blue-800': '{{this.page.id}}' === 'brands' }">
                                        <svg fill="#fff" class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.1 384.1">
                                            <g>
                                                <path d="M344.05,80.1h-72c17.2-18.8,16.8-48-1.6-66c-18.8-18.8-49.2-18.8-67.6,0c-6.8,6.8-13.6,17.2-18.4,29.2
                                                        c-4.8-12-11.6-22.4-18.4-29.2c-8.8-9.2-21.2-14-34-14s-24.8,4.8-34,14s-14,21.2-14,34c0,12,4.4,23.2,12.4,32h-56.4
                                                        c-22,0-40,18-40,40v32c0,10.4,6.8,19.2,16,22.8c0,0.4,0,0.8,0,1.2v168c0,22.8,23.2,40,44,40h268c22,0,40-18,40-40V174.9
                                                        c9.6-3.6,16-12.4,16-22.8v-32C384.05,98.1,366.05,80.1,344.05,80.1z M214.05,25.3c12.4-12.4,32.8-12.4,45.2,0
                                                        c12.4,12.4,12.4,32.8,0,45.2c-3.2,3.2-7.2,6-10.8,8.4c-0.8,0.4-1.2,0.8-2,1.6h-54.4c0.8-1.2,1.2-2.8,1.2-4
                                                        C192.85,59.3,204.05,35.3,214.05,25.3z M109.65,24.9c6-6,14-9.2,22.4-9.2c8.4,0,16.4,3.2,22.4,9.2c10,10,21.2,34,20.8,50.4
                                                        c0,1.6,0.4,2.8,1.2,4h-54c-0.4,0-1.2-0.4-2.4-1.2c-4-2-7.6-4.8-10.4-8C97.25,57.7,97.25,37.3,109.65,24.9z M176.05,368.1h-116
                                                        c-12.8,0-28-10.8-28-24v-168h144V368.1z M368.05,152.1c0,4.4-3.2,7.2-6.4,8c0,0-0.4,0-0.4,0.4c-0.4,0-0.8,0-1.2,0
                                                        c-4.4,0-8,3.6-8,8v176c0,13.2-10.8,24-24,24h-136V176.1h80c4.4,0,8-3.6,8-8c0-4.4-3.6-8-8-8h-80v-36c0-4.4-3.6-8-8-8
                                                        c-4.4,0-8,3.6-8,8v36h-152c-4.4,0-8-3.6-8-8v-32c0-13.2,10.8-24,24-24h304c13.2,0,24,10.8,24,24V152.1z" />
                                                <path d="M320.05,160.1h-12c-4.4,0-8,3.6-8,8c0,4.4,3.6,8,8,8h12c4.4,0,8-3.6,8-8C328.05,163.7,324.45,160.1,320.05,160.1z" />
                                            </g>
                                        </svg>
                                        <span class="text-md font-medium">Бонусы</span>
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                        
                        <ul class="h-full list-reset flex justify-end flex-1 items-center">
                            {% if not user %}
                                <li class="mr-3">
                                    <div class="relative" x-data="{ Modal : false }" @click.away="Modal = false">
                                        <button class="border-2 group font-medium text-white flex items-center rounded-full px-5 py-2 focus:outline-none hover:bg-white hover:text-blue-975 focus:bg-white focus:text-blue-975 focus:border-gray-300 focus:shadow-lg hover:border-gray-300 transition-all duration-500 shadow-none hover:shadow-lg"
                                            @click="Modal = !Modal">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 group-hover:text-blue-975 text-gray-300 transition-all duration-500 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                            </svg>
                                            г. Ташкент
                                        </button>
                                        <div x-show="Modal" x-cloak
                                            class="bg-white  absolute z-10 px-5 py-3 rounded-xl top-16 right-0">
                                            <div class="flex justify-between">
                                                <span class="font-normal text-lg w-32 leading-none">
                                                    Ваш город <br>
                                                    <span class="text-blue-975 ">Ташкент?</span>
                                                </span>
                                                <div class="rounded-full bg-gray-300 justify-center flex items-center w-6 h-6 cursor-pointer group hover:bg-blue-950"
                                                    @click="Modal = !Modal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                                    </svg>
                                                    
                                                </div>
                                            </div>
                                            <div class="flex justify-between mt-5">
                                                <button @click="Modal = !Modal"
                                                    class="px-5 text-sm font-medium py-1 bg-blue-975 rounded-full text-white focus:outline-none  border border-blue-975 hover:bg-white hover:text-blue-950 hover-border-blue-975">Да</button>
                                                <button @click="Modal = !Modal"
                                                    class="px-5 text-sm font-medium py-1 bg-blue-975 rounded-full text-white focus:outline-none  border border-blue-975 hover:bg-white hover:text-blue-950 hover-border-blue-975">Нет</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mr-3">
                                    <div>
                                        <button @click="$dispatch('login-modal', true)"
                                            class="border-2 group font-medium text-white flex items-center rounded-full px-5 py-2 focus:outline-none hover:bg-white hover:text-blue-975 focus:bg-white focus:text-blue-975 focus:border-gray-300 focus:shadow-lg hover:border-gray-300 transition-all duration-500 shadow-none hover:shadow-lg">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 group-hover:text-blue-975 text-gray-300 transition-all duration-500 text-gray-300  mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                                            </svg>
                                            Вход
                                        </button>

                                    </div>
                                </li>
                                <li class="mr-3">
                                    <div>
                                        <button @click="$dispatch('register-modal', true)"
                                            class="border-2 group font-medium text-white flex items-center rounded-full px-5 py-2 focus:outline-none hover:bg-white hover:text-blue-975 focus:bg-white focus:text-blue-975 focus:border-gray-300 focus:shadow-lg hover:border-gray-300 transition-all duration-500 shadow-none hover:shadow-lg">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 group-hover:text-blue-975 text-gray-300 transition-all duration-500 text-gray-300 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                            </svg>
                                            Регистрация
                                        </button>
                                    </div>
                                </li>
                               
                            {% else %}
                                <li class="mr-3 h-full">
                                    <div class="relative flex flex-col items-center h-full text-white" 
                                        x-data="{ Modal : false}" @click.away="Modal = false">
                                        <div
                                            class="bg-blue-975 w-40 transition-all duration-300 font-medium my-auto"
                                            @click="Modal = !Modal">
                                            <div x-show="$store.UserStatus.UserType == 'Я исполнитель'" class="w-7 h-7 rounded-full bg-white mx-auto">
                                                {% if user.avatar %}
                                                    <img class="w-full rounded-full" src="{{ user.avatar.thumb(auto, auto)  }}" alt="">
                                                {% else %}
                                                    <img class="w-full rounded-full" src="{{'assets/temp/user.png'|theme}}" alt="">
                                                {% endif %}
                                            </div>
                                            <div x-show="$store.UserStatus.UserType == 'Я заказчик'" class="w-7 h-7 rounded-full bg-white mx-auto">
                                                {% if user.avatar %}
                                                    <img class="w-full rounded-full" src="{{ user.avatar.thumb(auto, auto)  }}" alt="">
                                                {% else %}
                                                    <img class="w-full rounded-full" src="{{'assets/temp/user.png'|theme}}" alt="">
                                                {% endif %}
                                            </div>
                                            <div class=" flex items-center justify-center cursor-pointer ">
                                                <span x-text="$store.UserStatus.UserType"></span>
                                            <svg x-show="!Modal" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                            </svg>
                                            <svg x-show="Modal" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                                            </svg>
                                            </div>
                                        </div>
                                        <div x-show="Modal" 
                                            x-cloak
                                            class="bg-blue-975 text-white w-full absolute z-10 p-1 rounded-xl top-21">
                                            <div class="flex flex-col text-black text-center text-white">
                                                <a @click="Modal = !Modal , $store.UserStatus.UserType = 'Я исполнитель'; $dispatch('change-user-type', 'executor') " x-show="$store.UserStatus.UserType != 'Я исполнитель' " class="hover:bg-white hover:text-blue-975 rounded-lg px-2 py-1"  href="javascript:;">
                                                    <span>Я исполнитель</span>
                                                </a>
                                                <a @click="Modal = !Modal , $store.UserStatus.UserType = 'Я заказчик'; $dispatch('change-user-type', 'customer') " x-show="$store.UserStatus.UserType != 'Я заказчик' " class="my-1 hover:bg-white hover:text-blue-975 rounded-lg px-2 py-1"  href="javascript:;">
                                                    <span>Я заказчик</span>
                                                </a>
                                                <a class="hover:bg-white hover:text-blue-975 rounded-lg px-2 py-1"  href="{{ 'home' | page }}">
                                                    <span>Выход</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                            <li class="mr-3">
                                <div class="relative text-white" x-data="{ Modal : false, lang: 'Ru' }" @click.away="Modal = false">
                                    <button
                                        class="border-2 bg-blue-975 flex items-center justify-center rounded-full w-20 py-2 transition-all duration-300 focus:outline-none hover:bg-white hover:text-blue-975 focus:bg-white focus:text-blue-975"
                                        @click="Modal = !Modal">
                                        <span x-text="lang"></span>
                                        <svg x-show="!Modal" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                        </svg>
                                        <svg x-show="Modal" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                    <div x-show="Modal" x-cloak
                                        class="bg-blue-975 text-white w-full absolute z-10 p-1 rounded-xl top-16">
                                        <div class="flex flex-col text-black text-center text-white">
                                            <a @click="lang = 'Ru',Modal = !Modal" class="hover:bg-white hover:text-blue-975 rounded-lg px-2 py-1"  href="#">
                                                <span>Ru</span>
                                            </a>
                                            <a @click="lang = 'UZ',Modal = !Modal" class="hover:bg-white hover:text-blue-975 rounded-lg px-2 py-1"  href="#">
                                                <span>Uz</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                        </ul>
                    </div>

                </div>

                <!-- Mobile menu button -->
                <div class="xl:hidden flex items-center">
                    <button  @click="$dispatch('mobile-menu', true)" class="outline-none mobile-menu-button">
                        <svg class=" w-6 h-6 text-white hover:text-gray-500 " fill="none" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </button>
                </div>
                
            </div>

            <!-- mobile menu -->
            <div 
                x-data="{isOpen: false}" 
                x-show="isOpen" 
                x-cloak>
                <div 
                    @mobile-menu.window="isOpen = $event.detail" 
                    @click.away="isOpen = false"
                    class="text-white bg-blue-975 p-4 w-4/5 h-full fixed top-0 left-0 z-10">

                    <div>
                        <ul class="text-xs sm:text-sm md:text-md">
                            <li class="border-b border-blue-950 font-semibold flex justify-start py-2 flex justify-between">
                                <a href="{{ 'home' | page }}" class="">
                                    <img class="" src="{{'assets/images/logowhite.svg' | theme}}" width="65%">
                                </a>
                                <button class="focus:outline-none" @click="isOpen = ! isOpen"><i
                                        class="icon-x text-xs"></i></button>
                            </li>
                            <li x-data="{ open: false }">
                                <div  class="w-full border-b border-blue-950 font-semibold p-2 rounded-lg hover:bg-blue-950" x-on:click="open = ! open">
                                    <span x-text="$store.UserStatus.UserType"></span>
                                </div>
                                <ul x-show="open" x-transition>
                                    <li 
                                        class="border-b border-blue-950 font-semibold py-2 px-5 hover:bg-blue-950 rounded-lg"
                                        @click="open = ! open , $store.UserStatus.UserType = 'Я исполнитель' " x-show="$store.UserStatus.UserType != 'Я исполнитель' " >
                                        <span>Я исполнитель</span>
                                    </li>
                                    <li 
                                        class="border-b border-blue-950 font-semibold py-2 px-5 hover:bg-blue-950 rounded-lg"
                                        @click="open = ! open , $store.UserStatus.UserType = 'Я заказчик' " x-show="$store.UserStatus.UserType != 'Я заказчик' " >
                                        <span>Я заказчик</span>
                                    </li>
                                    <a
                                        class="border-b border-blue-950 font-semibold py-2 block px-5 hover:bg-blue-950 rounded-lg"
                                        @click="open = ! open"
                                        href="{{ 'home' | page }}">
                                        <span>Выход</span>
                                    </a>
                                </ul>
                            </li>
                            <li class="border-b border-blue-950 font-semibold py-2  hover:bg-blue-950 rounded-lg">
                                <a class="w-full p-2 rounded-lg focus:bg-blue-950" href="{{ 'order' | page }}">
                                    <i class="icon-menu1"></i> Заказы</a>
                            </li>
                            <li class="border-b border-blue-950 font-semibold py-2  hover:bg-blue-950 rounded-lg">
                                <a class="w-full p-2 rounded-lg focus:bg-blue-950" href="{{ 'balance' | page }}">
                                    <i class="icon-menu2"></i> Кошелек
                                </a>
                            </li>
                            <li class="border-b border-blue-950 font-semibold py-2  hover:bg-blue-950 rounded-lg">
                                <a class="w-full p-2 rounded-lg focus:bg-blue-950" href="{{ 'about-customer' | page }}">
                                    <i class="icon-menu3"></i> Анкета
                                </a>
                            </li>
                            <li class="border-b border-blue-950 font-semibold py-2  hover:bg-blue-950 rounded-lg">
                                <a class="w-full p-2 rounded-lg focus:bg-blue-950" href="{{ 'brands' | page }}">
                                    <i class="icon-menu4"></i> Бонусы
                                </a>
                            </li>
                            <li class="border-b border-blue-950 font-semibold py-2  hover:bg-blue-950 rounded-lg">
                                <a class="w-full p-2 rounded-lg focus:bg-blue-950" href="#">
                                    Служба поддержки
                                </a>
                            </li>
                            <li class="border-b border-blue-950 font-semibold py-2  hover:bg-blue-950 rounded-lg">
                                <a class="w-full p-2 rounded-lg focus:bg-blue-950" href="#">
                                    Инструкция по оплате
                                </a>
                            </li>
                            <li class="border-b border-blue-950 font-semibold py-2  hover:bg-blue-950 rounded-lg">
                                <a class="w-full p-2 rounded-lg focus:bg-blue-950" href="#">
                                    Частые вопросы
                                </a>
                            </li>
                            <li class="border-b border-blue-950 font-semibold py-2  hover:bg-blue-950 rounded-lg">
                                <a class="w-full p-2 rounded-lg focus:bg-blue-950" href="#">
                                    Условия использования
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="mt-10">
                        <ul class="flex justify-center text-xs sm:text-sm md:text-md">
                            <li
                                class="mx-1 flex items-center hover:bg-blue-950 justify-items-center border border-gray-300 rounded-md h-8 w-8 ">
                                <a class="mx-auto" href="#">O'z</a>
                            </li>
                            <li
                                class="mx-1 flex items-center hover:bg-blue-950 justify-items-center border border-gray-300 rounded-md h-8 w-8 ">
                                <a class=" mx-auto" href="#">РУ</a>
                            </li>
                            <li
                                class="mx-1 flex items-center hover:bg-blue-950 justify-items-center border border-gray-300 rounded-md h-8 w-8 ">
                                <a class="mx-auto" href="#">УЗ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    
        </div>


         {% put modals %}
            <div x-data="{isOpen: false}" x-show="isOpen" x-cloak>
                <div @register-modal.window="isOpen = $event.detail" class="w-full fixed flex items-center justify-center overflow-auto z-50 bg-black bg-opacity-40 inset-0"
                    x-transition:enter="transition ease duration-300" x-transition:enter-start="opacity-0"
                    x-transition:enter-end="opacity-100" x-transition:leave="transition ease duration-300"
                    x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0">
                    <div x-show="isOpen"
                        class="bg-white relative rounded-sm shadow-2xl p-3 md:p-6 smуа:w-10/12 mx-10 w-96  "
                        @click.away="isOpen = false" x-transition:enter="transition ease duration-100 transform"
                        x-transition:enter-start="opacity-0 scale-90 translate-y-1"
                        x-transition:enter-end="opacity-100 scale-100 translate-y-0"
                        x-transition:leave="transition ease duration-100 transform"
                        x-transition:leave-start="opacity-100 scale-100 translate-y-0"
                        x-transition:leave-end="opacity-0 scale-90 translate-y-1">
                        <h3 class="font-bold block text-sm md:text-xl mb-3 text-center mb-6">Авторизация</h3>
                        <div class="absolute top-3 right-3 text-sm inline-block py-0 cursor-pointer"
                            @click="isOpen = !isOpen"><i class="fa fa-times font-light"></i></div>
                        <form action="https://workbase.mdg.uz/new/ru/form/reg/login" class="login-form active" method="post"
                            accept-charset="utf-8">
                            <input type="hidden" name="csrf_test_name" value="93365a2df35b6aa7cf296e49822ee4f1">
                            <div class="flex mb-5 md:mb-10 mx-5 justify-between"
                                x-data="{ isChecked_1 : false, isChecked_2:false}">
                                <div class="">
                                    <input id="radio-3" class="hidden" type="radio" name="user" value="client" checked="">
                                    <label @click="isChecked_1 = true , isChecked_2=false"
                                        x-bind:class="{ 'border-orange-500 text-orange-500': isChecked_1}"
                                        class="cursor-pointer text-sm md:text-md border rounded-md w-24 md:w-32 p-1 justify-center items-center flex"
                                        for="radio-3">Исполнитель</label>
                                </div>
                                <div class="">
                                    <input id="radio-4" class="hidden" type="radio" name="user" value="employer">
                                    <label @click="isChecked_2 = true , isChecked_1=false"
                                        x-bind:class="{ 'border-orange-500 text-orange-500': isChecked_2}"
                                        class="cursor-pointer text-sm md:text-md border rounded-md w-24 md:w-32 p-1 justify-center items-center flex"
                                        for="radio-4">Заказчик</label>
                                </div>
                            </div>
                            <div class="mx-5">
                                <input
                                    class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none my-5 bg-white"
                                    placeholder="Имя" type="text">
                                <input
                                    class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none my-5 bg-white"
                                    placeholder="Фамилия" type="text">
                                <input
                                    class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none bg-white"
                                    placeholder="Телефон" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}" type="tel">
                                <input
                                    class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none my-5 bg-white"
                                    placeholder="Пароль" autocomplet="new-password" type="password">
                                <input
                                    class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none my-5 bg-white"
                                    placeholder="Повторите пароль" autocomplet="new-password" type="password">
                                <input
                                    class="w-full rounded-full border border-blue-950 text-sm  md:text-md p-2 block focus:outline-none bg-blue-975 text-white font-bold my-5"
                                    type="submit" value="Сохранить">
                            </div>
                            <div class="my-4">
                                <ul class="flex justify-center ">
                                    <li><a href="#"><img width="30px" class="mx-2"
                                                src="{{'assets/images/facebook.svg' | theme}}" alt=""></a></li>
                                    <li><a href="#"><img width="30px" class="mx-2" src="{{'assets/images/ok.svg' | theme}}"
                                                alt=""></a></li>
                                    <li><a href="#"><img width="30px" class="mx-2"
                                                src="{{'assets/images/yandex.svg' | theme}}" alt=""></a></li>
                                    <li><a href="#"><img width="30px" class="mx-2"
                                                src="{{'assets/images/google.svg' | theme}}" alt=""></a></li>
                                    <li><a href="#"><img width="30px" class="mx-2" src="{{'assets/images/vk.svg' | theme}}"
                                                alt=""></a></li>
                                </ul>
                            </div>
                            <div>
                                <h5 class="text-center text-gray-400 font-medium md:font-bold text-xs md:text-sm">Нет
                                    аккаунта? <a href="#" class="text-blue-600 font-semibold"> Зарегестрируйтесь</a></h5>
                                <h5 class="text-center my-4 text-gray-400 font-medium md:font-bold text-xs md:text-sm "><a
                                        href="#">Забыли пароль?</a></h5>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endput %}
    </nav>
</header>

