==
{##}
<div class="bg-gray-700 pt-10">
    <div class="container">
        <div class="flex justify-between border-b border-2-gray-200 pb-5">
            <h3 class="text-gray-200 text-xl font-bold my-auto">
                Скачайте наше бесплатное приложение на смартфон!
            </h3>
            <div>
                <a href="#" class="inline-block mr-5">
                    <img src="{{'assets/images/app.png' | theme}}" alt="">
                </a>
                <a href="#" class="inline-block">
                    <img src="{{'assets/images/play.png' | theme}}" alt="">
                </a>
            </div>
        </div>
        <div class="grid grid-cols-3 text-gray-200 py-5">
            <div class="">
                <ul>
                    <li class="my-3 text-blue-300"><a href="#">Специалистам</a></li>
                    <li class="my-3"><a href="#">Стать специалистом</a></li>
                </ul>
            </div>
            <div class="">
                <ul>
                    <li class="my-3 text-blue-300"><a href="#">Заказчикам</a></li>
                    <li class="my-3"><a href="#">Создать заявку</a></li>
                    <li class="my-3"><a href="#">Инструкция по оплате</a></li>
                </ul>
            </div>
            <div class="">
                <ul>
                    <li class="my-3 text-blue-300"><a href="#">Служба поддержки</a></li>
                    <li class="my-3"><a href="#">Частые вопросы</a></li>
                    <li class="my-3"><a href="#">Условия использования</a></li>
                </ul>
            </div>
        </div>
        <div class="grid grid-cols-3 text-gray-200 py-5">
            <div class="">
                <ul>
                    <li><a href="#">© 2021. Все права защищены</a></li>
                </ul>
            </div>
            <div class="">
                <ul class="flex">
                    <li class="mr-5"><a href="#">
                        <img src="{{ 'assets/images/Facebook.png' | theme }}" alt="">
                    </a></li>
                    <li class="mr-5"><a href="#">
                        <img src="{{ 'assets/images/instagram.png' | theme }}" alt="">
                    </a></li>
                    <li class="mr-5"><a href="#">
                        <img src="{{ 'assets/images/telegram.png' | theme }}" alt="">
                    </a></li>
                </ul>
            </div>
            <div class="">
                <ul>
                    <li><a href="#">Разработка сайта: BigSoft</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>