==
{##}
<footer class="bg-gray-700 py-6">
    <div class="container">
        {% if this.page.id == 'home' %}
        {% else %}
        <div class="flex flex-col md:flex-row items-center text-center md:text-left md:justify-between border-b border-2-gray-200 pb-6">
            <h3 class="text-gray-200 text-sm ms:text-md md:text-lg lg:text-xl font-semibold">
                Скачайте наше бесплатное приложение на смартфон!
            </h3>
            <div class="md:flex first:mr-5"  >
                <a href="#" class="mr-2">
                    <img class="" src="{{'assets/images/app.png' | theme}}" alt="">
                </a>
                <a href="#" class="">
                    <img class="" src="{{'assets/images/play.png' | theme}}" alt="">
                </a>
            </div>
        </div>
        {% endif %}
        <div class="md:grid md:grid-cols-3 text-sm md:text-lg font-medium text-center md:text-left text-gray-200 pb-5">
            <div class="">
                <ul>
                    <li class="my-3 text-xs sm:text-sm md:text-md lg:text-lg "><a class="hover:text-blue-300"  href="#">Специалистам</a></li>
                    <li class="my-3 text-xs sm:text-sm md:text-md lg:text-lg"><a  class="hover:text-blue-300" href="#">Стать специалистом</a></li>
                </ul>
            </div>
            <div class="">
                <ul>
                    <li class="my-3 text-xs sm:text-sm md:text-md lg:text-lg ">
                        <a class="hover:text-blue-300"  href="#">
                            Заказчикам
                        </a>
                    </li>
                    <li class="my-3 text-xs sm:text-sm md:text-md lg:text-lg">
                        <a  class="hover:text-blue-300" href="#">
                            Создать заявк
                        </a>
                    </li>
                    <li class="my-3 text-xs sm:text-sm md:text-md lg:text-lg">
                        <a  class="hover:text-blue-300" href="#">
                            Инструкция по оплате
                        </a>
                    </li>
                </ul>
            </div>
            <div class="">
                <ul>
                    <li class="my-3 text-xs sm:text-sm md:text-md lg:text-lg ">
                        <a class="hover:text-blue-300"  href="#">
                            Служба поддержки
                        </a>
                    </li>
                    <li class="my-3 text-xs sm:text-sm md:text-md lg:text-lg">
                        <a  class="hover:text-blue-300" href="#">
                            Частые вопросы
                        </a>
                    </li>
                    <li class="my-3 text-xs sm:text-sm md:text-md lg:text-lg">
                        <a  class="hover:text-blue-300" href="#">
                            Условия использования
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="md:grid text-center md:text-left font-medium text-sm md:text-lg grid-cols-3 text-gray-200">
            <div class="my-2">
                <ul>
                    <li class="text-xs sm:text-sm md:text-md lg:text-lg ">
                        <a class="hover:text-blue-300" href="#">
                            © 2021. Все права защищены
                        </a>
                    </li>
                </ul>
            </div>
            <div class="my-2">
                <ul class="flex items-center justify-center md:justify-start">
                    <li class="mr-5"><a class="hover:text-blue-300" href="#">
                        <img src="{{ 'assets/images/Facebook.png' | theme }}" alt="">
                    </a></li>
                    <li class="mr-5"><a class="hover:text-blue-300" href="#">
                        <img src="{{ 'assets/images/instagram.png' | theme }}" alt="">
                    </a></li>
                    <li class="mr-5"><a class="hover:text-blue-300" href="#">
                        <img src="{{ 'assets/images/telegram.png' | theme }}" alt="">
                    </a></li>
                </ul>
            </div>
            <div class="my-2">
                <ul>
                    <li class="text-xs sm:text-sm md:text-md lg:text-lg "><a class="hover:text-blue-300" href="#">Разработка сайта: BigSoft</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

