
==
<?php
?>
==
{##}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{this.page.title}}</title>
    {% component 'alternateHrefLangElements' %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{ 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/fonts/icomoon/style.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/fonts/aeroport/stylesheet.css'|theme }}">
    <link rel="stylesheet" href="{{['assets/css/app.css', '@framework.extras.css']|theme}}">
    <link rel="icon" href="{{ this.theme.favicon.path }}">
    {% styles %}
</head>
<body class="font-aeroport">
    {% partial "headers/default" %}
    <div id="page" class="">
        {% page %}        
    </div>


<section>
    {% partial "footers/default" %}
</section>



    {% placeholder modals %}
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
 
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="{{ 'assets/js/app.js' |theme }}"></script>
    <script src="{{ [
        '@jquery',
        '@framework',
        '@framework.extras',
    ]|theme }}"></script>
    {% scripts %}
</body>
</html>