<div class="mx-5">
    <div class="grid grid-cols-2 gap-4">
        <input
            class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none my-5 bg-white"
            placeholder="Имя" type="text">
        <input
            class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none my-5 bg-white"
            placeholder="Фамилия" type="text">
    </div>
    
    <input
        class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none bg-white"
        placeholder="Телефон" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}" type="tel">
    
    <div class="grid grid-cols-2 gap-4">
        <input
            class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none my-5 bg-white"
            placeholder="Пароль" autocomplet="new-password" type="password">
        <input
            class="w-full rounded-md border border-gray-500 text-xs  md:text-md p-2 block focus:outline-none my-5 bg-white"
            placeholder="Повторите пароль" autocomplet="new-password" type="password">       
    </div>
    <input
        class="w-full rounded-full border border-blue-950 text-sm  md:text-md p-2 block focus:outline-none bg-blue-975 text-white font-bold my-5"
        type="submit" value="Сохранить">
</div>