<form class="h-full flex flex-col relative">

    <h5 class="text-md md:text-lg 2xl:text-xl">
        Service name
    </h5>

    <h4 class="text-xl md:text-2xl mt-2">
        What do you need?
    </h4>

    


    <button type="submit" 
        class="sm:font-medium text-2xs sm:text-sm md:text-md lg:text-base 2xl:text-lg py-2 px-6 bg-blue-900 text-white rounded-lg focus:outline-none focus:bg-gray-200 focus:text-blue-900 ml-auto"
        data-attach-loading>
        <span>Продолжить</span>
    </button>
</form>