<form class="h-full flex flex-col relative">

    <h5 :class="{'animate-pulse bg-blue-950 text-transparent rounded-md opacity-5': !category }"
        class="text-lg  2xl:text-xl select-none"
        v-bind:style="[!category ?  {width:(Math.random() * 100 + 100 + 'px')} : {}]">
        {category?.name ?? 'loading...'}
    </h5>

    <h4 
        :class="{'animate-pulse bg-blue-950 text-transparent rounded-md opacity-5': !category }" 
        class="text-xl md:text-2xl mt-2 select-none"
        :style="[!category ? {width: (Math.random() * 100 + 400 + 'px')} : {}]">
        {category?.search_title ?? 'Услуга или специалист'}
    </h4>

    <div class="py-3 h-16 relative">
        <transition name="searchResultsContainer"
            enter-from-class="opacity-0 scale-y-1/2 translate-y-1/2"
            enter-active-class="transition ease-in duration-300"
            enter-to-class="opacity-100 scale-y-0 translate-y-0"
            leave-from-class="opacity-100 scale-y-0 translate-y-0"
            leave-active-class="transition ease-out duration-300"
            leave-to-class="opacity-0 scale-y-1/2 translate-y-1/2">
            <div v-if="search" class="absolute border border-blue-950 w-full rounded-xl bg-white overflow-y-hidden">
                <ul class="shadow overflow-y-auto " :style="{maxHeight: windowHeight * .5 + 'px'}">
                    <li class="h-10"></li>
                    <li v-for="i in 10"
                        class="p-2 px-4">{i}</li>
                </ul>
            </div>
        </transition>
        <input 
            type="text"
            v-model="search"
            id=""
            placeholder="Услуга или специалист"
            class="focus:outline-none rounded-xl border border-blue-950 focus:border-blue-975 text-base px-3 py-2 w-full z-50 absolute shadow-lg">
    </div>   
    <div>
        <h5>
            Например:
        </h5>
        <div>
            <button v-for="service in category?.services" 
                class="border border-blue-950 hover:shadow-md hover:border-blue-975
                    transition-all duration-300 hover:text-blue-950 
                    focus:outline-none focus:border-blue-975 
                    rounded-xl px-3 py-1 text-md md:text-base">
                {service.name}
            </button>
        </div>
    </div>
    <div class="sticky w-full bg-white bottom-4 shadow-3xl mt-auto">
        <div class="flex justify-end">
            <button type="submit" 
                class="sm:font-medium text-2xs sm:text-sm md:text-md lg:text-base 2xl:text-lg 
                    py-2 px-6 bg-blue-950 hover:bg-blue-975 
                    text-white rounded-lg focus:outline-none focus:bg-gray-200 
                    focus:text-blue-950 ml-auto transition-all duration-300"
                data-attach-loading>
                <span>Продолжить</span>
            </button>
        </div>
    </div>
</form>