<form @submit.prevent="submit" class="h-full flex flex-col">
     <div class="px-4">
        <h5 class="text-sm md:text-md 2xl:text-lg font-bold text-gray-500 mt-4 mb-4">
            { parentService?.name }
        </h5>
        <h5 class="text-sm font-bold text-gray-500">
            Где должна проводится услуга ?
        </h5>

        <div>
            <ul>
                <li class="my-2">
                    <div class="flex items-center">
                        <input type="checkbox" v-model="isOnline" name="is_online" hidden id="checkbox_1" />
                        <label class="flex items-center cursor-pointer select-none" for="checkbox_1">
                            
                            <div class="w-6 h-6 rounded-md flex items-center"
                                v-bind:class="{ 'border border-blue-600 bg-blue-700' : isOnline, 'border border-gray-300 bg-gray-300' : !isOnline}">
                                <transition>
                                    <svg 
                                        v-show="isOnline" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white mx-auto" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                    </svg>
                                </transition>
                            </div>
                    
                            <span 
                                class="px-2 text-xs sm:text-sm md:text-md lg:text-base"
                                v-bind:class="{ 'text-gray-900' : isOnline, 'text-gray-400' : !isOnline}">
                                Дистанционно
                            </span>
                    
                        </label>
                    </div>
                </li>
                
                <li class="my-2">
                    <div class="flex items-center">
                        <input type="checkbox" v-model="atExecutor" name="at_executor" hidden id="checkbox_2" />
                        <label class="flex items-center cursor-pointer select-none" for="checkbox_2">
                            
                            <div class="w-6 h-6 rounded-md flex items-center"
                                v-bind:class="{ 'border border-blue-600 bg-blue-700' : atExecutor, 'border border-gray-300 bg-gray-300' : !atExecutor}">
                                <transition>
                                    <svg 
                                        v-show="atExecutor" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white mx-auto" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                    </svg>
                                </transition>
                            </div>
                    
                            <span 
                                class="px-2 text-xs sm:text-sm md:text-md lg:text-base"
                                v-bind:class="{ 'text-gray-900' : atExecutor, 'text-gray-400' : !atExecutor}">
                                У специалиста
                            </span>
                    
                        </label>
                    </div>
                </li>
                
                <li class="my-2">
                    <div class="flex items-center">
                        <input type="checkbox" v-model="atCustomer" name="at_customer" hidden id="checkbox_3" />
                        <label class="flex items-center cursor-pointer select-none" for="checkbox_3">
                            
                            <div class="w-6 h-6 rounded-md flex items-center"
                                v-bind:class="{ 'border border-blue-600 bg-blue-700' : atCustomer, 'border border-gray-300 bg-gray-300' : !atCustomer}">
                                <transition>
                                    <svg 
                                        v-show="atCustomer" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white mx-auto" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                    </svg>
                                </transition>
                            </div>
                    
                            <span 
                                class="px-2 text-xs sm:text-sm md:text-md lg:text-base"
                                v-bind:class="{ 'text-gray-900' : atCustomer, 'text-gray-400' : !atCustomer}">
                                У заказчика
                            </span>
                    
                        </label>
                    </div>
                </li>
                
            </ul>
            

        </div>
    </div>
    <div class="sticky w-full bg-white bottom-0 pb-4 pt-2 mt-auto" >
        <div class="flex items-center p-4 mb-2">
            <button type="submit" 
                class="sm:font-medium text-2xs sm:text-sm md:text-md lg:text-base 2xl:text-lg py-2 px-6 bg-blue-900 text-white rounded-lg focus:outline-none focus:bg-gray-200 focus:text-blue-900 ml-auto"
                data-attach-loading>
                <span>Продолжить</span>
            </button>
        </div>
    </div>
</form>