{##}
{% macro renderServiceField(item) %}
    {% import _self as SELF %}

    {% if item.children is empty %}
        <h2 class="font-semibold text-sm ms:md md:text-lg lg:text-3xl md:font-medium mt-3 mb-4">
            {{item.select_title }}
        </h2>
    {% endif %}

    {% if item.children is not empty %}

        {% for service in item.children %}
            {{SELF.renderServiceField(service) | raw }}
        {% endfor %}
    
    {% elseif item.getLevel() in [0, 1, 2, 3, 4] %}
        {% partial 'fields/radio/with-entry'
            serviceId = item.id
        %}
    {% else %}
        {{ 'inner radio' }}
    {% endif %}
{% endmacro %}
<form 
    x-october:request.flash.files="onSelectService"
    x-october:url="https://october.loc/acount"
    x-october:update="asd: '#asd', dasd: '#das',"
    class="flex flex-col h-full">

    <h5 class="text-sm font-bold text-gray-500">
        {{ category.name }}
    </h5>

    <div>
        {% import _self as SELF %}
        
        {% for service in services %}
            {{ SELF.renderServiceField(service) | raw }}
        {% endfor %}

    </div>
    
    <div class="sticky w-full bg-white bottom-6 shadow-3xl mt-auto" >
        <div class="flex justify-between items-center h-10 ms:h-14 md:h-16 lg:h-20">
            <button type="button" 
                data-request="onRenderSearchServiceView" 
                data-request-success="window.history.pushState({}, '', data.url)"
                class="shadow-3xl  sm:font-medium  text-2xs sm:text-sm md:text-md lg:text-lg xl:text-xl 
                    w-20 sm:w-32 h-7 sm:h-10 md:w-48 md:h-12 bg-gray-200 rounded-lg text-blue-900
                    focus:outline-none focus:bg-blue-900 focus:text-white">
                <span><i class=""></i></span>
                <span>Начать заново</span>
            </button>
            <button type="submit" 
                class=" sm:font-medium  text-2xs sm:text-sm md:text-md lg:text-lg xl:text-xl 
                    w-20 sm:w-32 h-7 sm:h-10 md:w-48 md:h-12 bg-blue-900 text-white rounded-lg
                    focus:outline-none focus:bg-gray-200 focus:text-blue-900 ">
                <span><i class=""></i></span>
                <span>Продолжить</span>
            </button>
        </div>
    </div>
</form>