{##}
{% macro renderServiceField(item) %}
    {% import _self as SELF %}

    {% if item.children is empty %}
        <h2 class="font-semibold text-sm ms:md md:text-lg lg:text-3xl md:font-medium mt-3 mb-4">
            {{item.select_title }}
        </h2>
    {% endif %}

    {% if item.children is not empty %}

        {% for service in item.children %}
            {{SELF.renderServiceField(service) | raw }}
        {% endfor %}
    
    {% elseif item.getLevel() == 0 %}
        {% partial 'fields/radio/with-entry' 
            serviceId = item.id 
        %}
    {% else %}
        {{ 'inner radio' }}
    {% endif %}
{% endmacro %}
<form x-on:submit.prevent="console.log()">

    <h5 class="text-sm font-bold text-gray-500">
        {{ category.name }}
    </h5>
    
    {% import _self as SELF %}
    
    {% for service in services %}
        {{ SELF.renderServiceField(service) | raw }}
    {% endfor %}
    
</form>