
<form 
    data-request="onSetDescription"
    data-request-flash
    class="flex flex-col h-full">

    <h5 class="text-sm font-bold text-gray-500">
        Укажите описание
    </h5>

    <div>

        <div class="">
            <textarea 
                class="rounded-lg shadow-lg p-1 resize-y border mb-4 px-4 sm:p-3 w-full focus:outline-none text-xs sm:text-sm md:text-md lg:text-base"
                placeholder="Укажите, что нибудь" rows="5"></textarea>
        </div>
        <div x-data="{
                files: [],
                init() {
                    $watch('files', value => console.log(value))
                }
            }" class="flex flex-wrap items-center">
                <template x-for="file in files">
                    <div class="rounded-md border-2 border-dotted border-blue-900 border-opacity-50 hover:border-opacity-75 rounded-md mr-2">
                        <template x-if="file.type.startsWith('image/')">
                            <div x-data="{
                                src: '',
                                init() {
                                    let reader = new FileReader();
                                    reader.readAsDataURL(file);
                                    reader.onload = e => this.src = e.target.result;
                                }   
                            }"
                            class="relative" 
                            :style="`max-height: ${$refs.fileUploadButton.offsetHeight}px;`" x-init="console.log($refs.fileUploadButton.offsetHeight)">
                                <div class="absolute -top-2 right-0 cursor-pointer "
                                    @click="">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-blue-900" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <img :src="src" alt="" class="object-contain my-2" :style="`height: ${($refs.fileUploadButton.offsetHeight - 16)}px; max-width: ${$refs.fileUploadButton.offsetWidth}px;`" x-init="console.log(($refs.fileUploadButton.offsetHeight - 8))">
                            </div>
                        </template> 
                    </div>
                </template>
            <div x-ref="fileUploadButton">
                <input  id="fileUpload" type="file" @change="files.push(...$event.target.files)" multiple hidden >
                <label for="fileUpload" class="p-3
                    border-2 border-dotted border-blue-900 border-opacity-50 hover:border-opacity-75 rounded-md
                    cursor-pointer 
                    flex flex-col 
                    text-blue-900 text-opacity-50 hover:text-opacity-75 text-center">                
                    <div class="flex justify-center mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                        </svg>
                    </div>
                    <div>
                        Загрузить
                    </div>
                </label>
            </div>
        </div>

    </div>
    
    <div class="sticky w-full bg-white bottom-6 shadow-3xl mt-auto" >
        <div class="flex justify-between items-center h-10 ms:h-14 md:h-16 lg:h-20">
            <button type="button" 
                data-request="onRenderSearchServiceView" 
                class="shadow-3xl  sm:font-medium  text-2xs sm:text-sm md:text-md lg:text-lg w-20 sm:w-32 h-7 sm:h-10 md:w-48 md:h-12 bg-gray-200 rounded-lg">
                <span><i class=""></i></span>
                <span>Начать заново</span>
            </button>
            <button type="submit" class=" sm:font-medium  text-2xs sm:text-sm md:text-md lg:text-lg w-20 sm:w-32 h-7 sm:h-10 md:w-48 md:h-12 bg-black text-white rounded-lg">
                <span><i class=""></i></span>
                <span>Продолжить</span>
            </button>
        </div>
    </div>
</form>