
<form 
    data-request="onSetDescription"
    data-request-flash
    class="flex flex-col h-full">

    <h5 class="text-sm font-bold text-gray-500">
        Укажите описание
    </h5>

    <div>


    </div>
    
    <div class="sticky w-full bg-white bottom-6 shadow-3xl mt-auto" >
        <div class="flex justify-between items-center h-10 ms:h-14 md:h-16 lg:h-20">
            <button type="button" 
                data-request="onRenderSearchServiceView" 
                class="shadow-3xl  sm:font-medium  text-2xs sm:text-sm md:text-md lg:text-lg w-20 sm:w-32 h-7 sm:h-10 md:w-48 md:h-12 bg-gray-200 rounded-lg">
                <span><i class=""></i></span>
                <span>Начать заново</span>
            </button>
            <button type="submit" class=" sm:font-medium  text-2xs sm:text-sm md:text-md lg:text-lg w-20 sm:w-32 h-7 sm:h-10 md:w-48 md:h-12 bg-black text-white rounded-lg">
                <span><i class=""></i></span>
                <span>Продолжить</span>
            </button>
        </div>
    </div>
</form>